<h1>Listing incident_reports</h1>

<div class="clean-table">
<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Incident occurred at</th>
    <th>Incident location</th>
    <th>Incident description</th>
    <th>Incident location description</th>
    <th>Other party is tns employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incident_reports.each do |incident_report| %>
  <tr>
    <td><%= incident_report.name %></td>
    <td><%= incident_report.phone %></td>
    <td><%= incident_report.incident_occurred_at.strftime("%-m-%-d-%Y") rescue nil %></td>
    <td><%= incident_report.incident_location %></td>
    <td><%= incident_report.incident_description %></td>
    <td><%= incident_report.incident_location_description %></td>
    <td><%= incident_report.other_party_is_tns_employee %></td>
    <td><%= link_to 'Show', incident_report %></td>
    <td><%= link_to 'Edit', edit_incident_report_path(incident_report) %></td>
    <td><%= link_to 'Destroy', incident_report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>
</div>
<br />

<%= link_to 'New Incident report', new_incident_report_path %>
